* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 72px);
}

.product__title {
    white-space: nowrap;
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}